absl-py==0.7.0
astor==0.8.1
cached-property==1.5.2
certifi==2023.5.7
charset-normalizer==2.0.12
dataclasses==0.8
decorator==4.4.2
dm-sonnet==1.23
gast==0.5.4
grpcio==1.48.2
h5py==3.1.0
idna==3.4
imageio==2.15.0
importlib-metadata==4.8.3
joblib==1.1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.7
mock==5.0.2
networkx==2.5.1
numpy==1.19.5
onnx==1.14.0
pandas==1.1.5
Pillow==8.4.0
protobuf==4.21.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.27.1
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
sklearn==0.0
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
tensorflow-probability==0.5.0
termcolor==1.1.0
tf2onnx==1.7.2
threadpoolctl==3.1.0
typing_extensions==4.1.1
urllib3==1.26.16
Werkzeug==2.0.3
zipp==3.6.0
